block content

table#table
    tr
      th Service
      th Service No.
      th Arrival Time
      th Next Bus Time

    each busObject in data  
      tr
        td#service
          if busObject.mOperator === 'SBST'
            img(src="/images/SBST.png" alt="Image Title")
          else if busObject.mOperator === 'SMRT'
            img(src="/images/SMRT1.png" alt="Image Title")
          else if busObject.mOperator === 'TTS'
            img(src="/images/TTS.png" alt="Image Title")
          else if busObject.mOperator === 'JTC'
            img(src="/images/JTC.png" alt="Image Title")
          else
            span=busObject.mOperator

        td#serviceNoBold=busObject.mServiceNo
          
        td 
          div
            table#busTimingCell
              tr 
                if busObject.mNextBusTiming === 'Arriving'
                  td#tdRed=busObject.mNextBusTiming 
                else 
                  td#tda=busObject.mNextBusTiming 
                //td#tda=val.mNextBusFeature
                //span=val.mNextBusType
        td 
          div
            table#busTimingCell
              tr 
                td#tda=busObject.mSubBusTiming
                //td#tda=val.mSubBusFeature
                //span=val.mSubBusType
